<?xml version="1.0"?>
<config>
    <modules>
        <Oink_Oink>
            <version>3.0.5</version>
        </Oink_Oink>
    </modules>
    <global>
        <helpers>
            <oink>
                <class>Oink_Oink_Helper</class>
            </oink>
        </helpers>
        <models>
            <oink>
                <class>Oink_Oink_Model</class>
                <resourceModel>oink_mysql4</resourceModel>
            </oink>
            <oink_mysql4>
                <class>Oink_Oink_Model_Mysql4</class>
                <entities>
                    <order>
                        <table>oink_order</table>
                    </order>
                </entities>
            </oink_mysql4>
            <sales>
                <rewrite>
                    <order>Oink_Oink_Model_Sales_Order</order>
                    <order_payment>Oink_Oink_Model_Sales_Order_Payment</order_payment>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <oink>
                <class>Oink_Oink_Block</class>
            </oink>
            <checkout>
                <rewrite>
                    <onepage_login>Oink_Oink_Block_Rewrite_Checkout_Onepage_Login</onepage_login>
                </rewrite>
            </checkout>
        </blocks>
        <resources>
            <oink_setup>
                <setup>
                    <module>Oink_Oink</module>
                </setup>
            </oink_setup>
        </resources>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <oink before="Mage_Adminhtml">Oink_Oink_Adminhtml</oink>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <oink translate="title">
                                            <title>Oink</title>
                                            <sort_order>800</sort_order>
                                        </oink>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <oink>
                    <file>oink.xml</file>
                </oink>
            </updates>
        </layout>
        <events>
            <!-- Added by Sebas! -->
            <sales_order_status_change>
                <observers>
                    <company_modulename_order_change>
                        <class>oink/observer</class>
                        <method>adminOrderStatusChange</method>
                    </company_modulename_order_change>
                </observers>
            </sales_order_status_change>
        </events>
    </adminhtml>
    <frontend>
        <routers>
            <oink>
                <use>standard</use>
                <args>
                    <module>Oink_Oink</module>
                    <frontName>oink</frontName>
                </args>
            </oink>
        </routers>
        <layout>
            <updates>
                <oink>
                    <file>oink.xml</file>
                </oink>
            </updates>
        </layout>
        <translate>
            <modules>
                <Oink_Oink>
                    <files>
                        <default>Oink_Oink.csv</default>
                    </files>
                </Oink_Oink>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <oink>
                        <class>oink/observer</class>
                        <method>removeOinkPaymentMethod</method>
                    </oink>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </frontend>
    <phpunit>
        <suite>
            <modules>
                <Oink_Oink />
            </modules>
        </suite>
    </phpunit>
    <crontab>
        <jobs>
            <check_oink_expired_orders>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>oink/observer::checkExpiredOrders</model>
                </run>
            </check_oink_expired_orders>
        </jobs>
    </crontab>
    <default>
        <oink>
            <merchant_info>
                <HeaderNamespace>vp</HeaderNamespace>
                <propMerchantIdentifier>MerchantIdentifier</propMerchantIdentifier>
                <propApiKey>APIkey</propApiKey>
                <TransactionServiceEndpointAddress>https://development.oink.com/Services/TransactionService.svc</TransactionServiceEndpointAddress>
                <TransactionServiceEndpointAddressWsdl>https://development.oink.com/services/TransactionService.svc?wsdl</TransactionServiceEndpointAddressWsdl>
                <ParentServiceEndpointAddress>https://development.oink.com/services/JSON/ParentService.svc</ParentServiceEndpointAddress>
                <ParentServiceEndpointAddressWsdl>https://development.oink.com/services/JSON/ParentService.svc?wsdl</ParentServiceEndpointAddressWsdl>
                <MerchantIdentifier>a1d2e935-7f4d-4c70-8dfb-f0e6cace5774</MerchantIdentifier>
                <APIkey>gadgetboom123</APIkey>
                <two_steps_authorization>0</two_steps_authorization>
                <Currency>USD</Currency>
                <DefaultShipmentMethod>Delivery</DefaultShipmentMethod>
                <order_expiration_time>5</order_expiration_time>
            </merchant_info>
            <checkoutbutton>
                <show_payment_method>0</show_payment_method>
                <button_image>Button_LG5.png</button_image>
                <oink_cart_checkout_margin_top>5</oink_cart_checkout_margin_top>
            </checkoutbutton>
            <messages>
                <login_error>Invalid username or password</login_error>
                <max_login_attemps>Too many login attempts. Your account is locked for 10 minutes.</max_login_attemps>
                <shipping_error>We are currently having trouble calculating your shipping. Please try again later.</shipping_error>
                <approval_required>We are waiting to hear back from your parents. Thanks for using Oink.</approval_required>
                <success_transaction>Your order was created successfully.</success_transaction>
                <transaction_declined>We could not process your transaction. Please try again.</transaction_declined>
                <insufficient_funds>The Transaction was denied because you do not have enough funds available.</insufficient_funds>
                <transaction_not_authorized>You are not authorized to buy from this merchant. Please talk to your parents about letting you do this.</transaction_not_authorized>
                <parent_configuration>Please make sure you configure your guest children and payment accounts in the Oink system</parent_configuration>
                <payment_not_accepted>The payment type associated with your account is not accepted.</payment_not_accepted>
            </messages>
        </oink>
        <payment>
            <oink>
                <active>1</active>
                <payment_action>order</payment_action>
                <model>oink/payment_method_oink</model>
                <order_status>pending</order_status>
                <title>Oink</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </oink>
        </payment>
    </default>
</config>
